STAGE=staging

#====== AWS =======
AWS_REGION=ap-southeast-1
ALLOWED_ORIGIN=*

# S3 bucket to store artifacts for deployment
AWS_DEPLOYMENT_BUCKET=XXXXX-XXXXX

AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXX
# AWS_SESSION_TOKEN=XXXXXXXXXXXXXX

AWS_DYNAMODB_TABLE_NAME=XXXXXXXXXXXXXX
AWS_S3_BUCKET_NAME=XXXXXXXXXXXXXX
#==================

GREET_WHO=cynder
